@use '~styles/appColors' as *;
.main-layer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-self: stretch;
    flex-grow: 1;
    gap: 40px;
}
