@use '~styles/appColors' as *;
@use '~styles/constants'as * ;

.main-layer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-self: stretch;
    flex-grow: 1;
    gap: 40px;
    overflow-y: scroll;

    > .tab-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 10px;
        flex-grow: 1;
        align-self: stretch;

        .arrow-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            background: $lighten;
            border-radius: 100%;
            cursor: pointer;
            font-size: 20px;
            height: 40px;
            width: 40px;
            border: none;
        }

        .carousel-items {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .colorful-span {

            font-weight: 600;
            font-size: 20px;
            @include colorfulSpan;
        }
    }
}
