@use '~styles/appColors' as *;
.loading-container {
    position: relative;
    border-radius: 100%;
    background: $primary;
    animation: spinnerAnimation 1s linear infinite;

    &::before {
        position: absolute;
        content: "";
        background: $dark-color;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        border-radius: 100%;
    }
}
@keyframes spinnerAnimation {
    to {
        -webkit-transform: rotate(360deg);
    }
}