@use '~styles/appColors' as *;
@use '~styles/constants' as *;
.input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    > .colorful-border{
        padding: 1px;
        background:$bordercolor;
        border-radius: 10px;
    }

    &:focus-within ,&:active,&:focus {

        > .colorful-border {
            position: relative;
            background:$primary;
        }
    }

    >.field{
        display: flex;
        gap: 10px;
    }
    > span,>label{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    > label:first-of-type {
        font-weight: 500;
        font-size: 16px;
        color: $white;
    }
    > span:last-of-type {
        font-weight: 500;
        font-size: 14px;
        color: $text-gray;
    }

    &.error {

        > span:last-of-type {
            color: $hotred;
        }
    }
}
