@use '~styles/appColors' as *;
.image-gallery {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
    gap: 20px;

    > .images-container {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: flex-start;
    }
}
